.env
.DS_Store


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/data/about_me.txt
backend/data/energy_comsumption.txt
backend/data/parenting_tips/used_links.txt
node_modules
local_model
